/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/material_theme_project_new.xml
/modules.xml
/php.xml
/pyreneandrinks.iml
/vcs.xml
/workspace.xml
/inspectionProfiles/*
/shelf/*
